@import url('https://fonts.googleapis.com/css?family=Aldrich');

// Theme colors
$whitesmoke: #F1F1F1;
$gainsboro: #e6e6e6;

.landing-page-main {
	height: 100vh;
	font-family: 'Aldrich', sans-serif;

}